body {
    background: #F8F9FA;
}

.postLink {
    background: #FC6377;
    padding: 5px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}

.addPost{
    background: #FC6377;
    padding: 5px;
    width: 10%;
    position: absolute;
    right: 0;
    color: white;
    /* margin-bottom: 510px; */
}

.posts-header{
    background: white;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
    width: 46%;
    margin-left: 37%;
    margin-top: 50px;
}